body {
  font-family: Arial;
  background: #f2f2f2;
  text-align: center;
}

header {
  background: black;
  color: white;
  padding: 15px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background: white;
  width: 200px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

button {
  background: green;
  color: white;
  padding: 5px 10px;
}
